.address-book {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    position: sticky;
    padding: 0.5rem;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 4%), 0 6px 12px rgb(0 0 0 / 2%);
    text-align: center;
    top: 0;
    background: white;
  }

  main {
    flex: 1;
    margin: 1rem;
    padding: 0.5rem;
  }

  footer {
    padding: 0.5rem;
    min-height: 92px;
    background: whitesmoke;
    display: flex;
    justify-content: center;
  }
}

table.address-book-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;

  th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
  }

  thead {
    tr, th {
      border-bottom: 1px solid #ddd;
    }

    // tr:last-child {
    //   border-bottom: 2px solid #ddd;
    // }
  }
}