/* You can add global styles to this file, and also import other style files */

html,body,input,button {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

button {
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 4px;
  outline: none;
  opacity: 1;
  transition: opacity 0.5s;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.display-flex {
  display: flex;
}

.app-card {
  box-shadow: 0 2px 2px rgb(0 0 0 / 24%), 0 0 2px rgb(0 0 0 / 12%);
  border-radius: 4px;
}

.primary {
  background-color: #4ca85f;
}

.secondary {
  background-color: #e2af1c;
}

.danger {
  background-color: #d81d0b;
}

.danger-outline {
  background-color: white;
  color: #d81d0b;
  border: 2px solid #d81d0b;
}